html, body {
    margin: 0;
    padding: 0;
}

canvas {
    border: 5px solid black;
}

.main {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}